@charset "UTF-8";
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-700 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oswald-v49-latin-700.woff2") format("woff2"), url("../fonts/oswald-v49-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-family: "Montserrat";
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  max-width: 80px;
}

.header__block {
  margin-left: auto;
  display: block;
}

.header__container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 745px;
}

.header__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.header__item + .header__item {
  margin-left: 53px;
}

@media screen and (max-width: 840px) {
  .navbar {
    display: none;
  }
  .header__container::after {
    content: "";
    display: inline-block;
    background-image: url("../../img/header_icon.svg");
    background-repeat: no-repeat;
    width: 27px;
    height: 24px;
  }
}
.hero {
  background-image: url(../img/hero_bg.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 800px;
  margin: 0 auto;
  border: solid 3px red;
  position: relative;
  background-position-x: center;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  padding: 13px 42px;
  background-color: #961914;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  border-radius: 8px;
  border: transparent;
  display: inline-block;
}

.hero__block {
  margin-top: 135px;
  display: inline-block;
}

.hero__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  max-width: 490px;
  font-family: "Oswald";
  margin-bottom: 10px;
}

.hero__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 25px;
  max-width: 367px;
}

.hero__block::after {
  content: "";
  background-image: url("../../img/ZOOOV.svg");
  background-repeat: no-repeat;
  width: 168px;
  height: 548px;
  display: block;
  position: absolute;
  right: 0;
  top: 19%;
}

@media screen and (max-width: 700px) {
  .hero__block::after {
    background-image: url(../../img/ZOOOV\ 2.svg);
    width: 100px;
    height: 330px;
    top: 55%;
  }
  .hero__block {
    margin-right: 100px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 130%;
  }
  .hero__text {
    font-size: 18px;
    line-height: 140%;
  }
}
.BARF {
  margin-top: 180px;
}

.barf__block {
  margin-right: 25px;
}

.barf__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barf__title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 32px;
}

.barf__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  max-width: 584px;
  margin-bottom: 24px;
}

.barf__list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 16px;
}

.barf__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 10px;
}

.barf__item::before {
  content: "";
  width: 6px;
  height: 6px;
  background: #961914;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.barf__img {
  max-width: 588px;
}

.dlya {
  display: block;
  background-color: #EAD1D0;
  padding: 32px 80px;
  margin-top: 80px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dlya1 {
  max-width: 488px;
}

.dlya__title {
  font-weight: 600;
  font-size: 23px;
  line-height: 200%;
}

.dlya__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 250%;
  color: #434242;
}

.dlya__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.dlya__item {
  margin-right: 72px;
}

.dlya__item:nth-child(1)::before {
  content: "";
  width: 20px;
  height: 16px;
  display: inline-block;
  margin-right: 16px;
  background-image: url(../../img/dlya1.svg);
  background-repeat: no-repeat;
}

.dlya__item:nth-child(2)::before {
  content: "";
  width: 20px;
  height: 16px;
  display: inline-block;
  margin-right: 16px;
  background-image: url(../../img/dlya1.2.svg);
  background-repeat: no-repeat;
}

.dlya__item:nth-child(3)::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 16px;
  background-image: url(../../img/dlya1.3.svg);
  background-repeat: no-repeat;
}

.dlya__item:nth-child(4)::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 16px;
  background-image: url(../../img/dlya1.4.svg);
  background-repeat: no-repeat;
}

.dlya__item:nth-child(5)::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 16px;
  background-image: url(../../img/dlya1.5.svg);
  background-repeat: no-repeat;
}

.dlya__item:nth-child(6)::before {
  content: "";
  width: 20px;
  height: 18px;
  display: inline-block;
  margin-right: 16px;
  background-image: url(../../img/dlya1.6.svg);
  background-repeat: no-repeat;
}

.dlya__item:nth-child(7)::before {
  content: "";
  width: 20px;
  height: 18px;
  display: inline-block;
  margin-right: 16px;
  background-image: url(../../img/dlya1.7.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 750px) {
  .dlya2 {
    display: none;
  }
  .dlya__item {
    gap: 90px;
    width: 200px;
  }
}
@media screen and (max-width: 700px) {
  .barf__box1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .barf__block {
    margin-bottom: 15px;
  }
}
.ratsion {
  margin-top: 80px;
}

.ratsion__title-box {
  background-image: url(../../img/titlebg.png);
  background-repeat: no-repeat;
  padding: 16px 10px 43px 0;
  background-position-x: right;
  display: inline-block;
  max-width: 340px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.ratsion__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.ratsion__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.ratsion__text {
  max-width: 670px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.ratsion__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.ratsion__item {
  max-width: 280px;
}

.ratsion__item-img {
  max-width: 280px;
  margin-bottom: 45px;
}

.ratsion__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  width: 200px;
  margin-bottom: 4px;
}

.ratsion__item-title::after {
  content: "Индейка/Говядина";
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #9F9E9D;
  margin-bottom: 16px;
}

.ratsion__item-text {
  max-width: 220px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 11px;
}

.ratsion__item-text::after {
  content: "700г / 500г / 300г / 150г / 100г";
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #9F9E9D;
  display: block;
  margin-bottom: 24px;
}

.ratsion__btn {
  padding: 13px 42px;
  border: 1px solid #961914;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #961914;
}

.ratsion__bottom {
  background-color: #EAD1D0;
  padding: 52px 121px 52px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ratsion__bottom-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.02em;
  max-width: 580px;
  margin-right: 15px;
}

.raspecat {
  padding: 0 42px;
  background: #961914;
  border-radius: 8px;
  border: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  height: 45px;
}

@media screen and (max-width: 1065px) {
  .ratsion__item1 {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .ratsion__item2 {
    display: none;
  }
  .ratsion__text {
    display: none;
  }
  .ratsion__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0;
    padding: 52px 20px 52px 20px;
  }
}
.ratsion__bottom-text {
  margin-right: 0;
  margin-bottom: 15px;
}

@media screen and (max-width: 550px) {
  .ratsion__item3 {
    display: none;
  }
  .ratsion__item {
    margin: 0 auto;
    text-align: center;
  }
  .ratsion__item-text {
    margin-left: auto;
    margin-right: auto;
  }
  .ratsion__item-title {
    margin-left: auto;
    margin-right: auto;
  }
  .ratsion__bottom-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
  }
}
.pacemu {
  margin-top: 180px;
}

.pacemu___title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.pacemu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 52px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pacemu__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-top: 16px;
  margin-bottom: 8px;
}

.pacemu__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  max-width: 225px;
}

.pacemu__item:nth-child(1)::before {
  content: "";
  background-image: url("../../img/pacemu1.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.pacemu__item:nth-child(2)::before {
  content: "";
  background-image: url("../../img/pacemu2.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.pacemu__item:nth-child(3)::before {
  content: "";
  background-image: url("../../img/pacemu3.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.pacemu__item:nth-child(4)::before {
  content: "";
  background-image: url("../../img/pacemu4.1.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
}

.ot__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 280px;
}

.ot__img-block {
  max-width: 475px;
  position: relative;
  z-index: -1;
  margin-right: 100px;
}

.ot__img2 {
  max-width: 75%;
  height: auto;
  position: absolute;
  bottom: -30%;
  right: -16%;
}

.ot__img-block::before {
  content: "";
  content: "";
  background-image: url(../../img/ot_sevd1.png);
  background-repeat: no-repeat;
  width: 30%;
  height: 30%;
  display: block;
  z-index: 2;
  background-size: contain;
  position: absolute;
  bottom: -18%;
  left: -54px;
  background-position: center;
}

.ot__img-block::after {
  content: "";
  background-image: url(../../img/ot_sevd2.png);
  background-repeat: no-repeat;
  width: 30%;
  height: 25%;
  display: block;
  z-index: 2;
  background-size: contain;
  position: absolute;
  bottom: 24%;
  right: -17%;
}

.ot__title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  max-width: 430px;
  margin-bottom: 40px;
}

.ot__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #434242;
  max-width: 400px;
}

.polucit {
  margin-top: 300px;
}

.polucit__immg:nth-child(1)::before {
  content: "";
  background-image: url("../../img/polucit1.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.polucit__immg:nth-child(2)::before {
  content: "";
  background-image: url("../../img/polucit2.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.polucit__immg:nth-child(3)::before {
  content: "";
  background-image: url("../../img/polucit3.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.polucit__immg:nth-child(4)::before {
  content: "";
  background-image: url("../../img/polucit4.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
}

@media screen and (max-width: 800px) {
  .ot__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ot__content-block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: -150px;
    margin-left: 0;
  }
  .ot__img-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .ot__img-block {
    max-width: 300px;
    margin-top: 20px;
  }
}
.vapros__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 180px;
}

.vapros__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 691px;
  margin-bottom: 65px;
  position: relative;
  margin-right: 20px;
}

.vapros__title {
  margin-right: 76px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.vapros__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 16px;
}

.vapros__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  max-width: 691px;
}

.minus {
  display: none;
}

.plus {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../../img/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -33px;
  top: 0;
}

@media screen and (max-width: 650px) {
  .vapros__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vapros__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
  }
}
.footer__container {
  padding: 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block {
  background: #961914;
  border-radius: 2px;
}

.kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kontakt__title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.kontakt__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 32px;
  max-width: 302px;
}

.kontakt__tel {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.whatsapp {
  padding: 10px 16px 10px 38px;
  background-color: #AB4743;
  color: #FFFFFF;
  border-radius: 8px;
  background-image: url(../../img/WhatsappLogo.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  display: inline-block;
  width: 230px;
  margin-bottom: 16px;
}

.telegram {
  padding: 10px 16px 10px 38px;
  background-color: #AB4743;
  color: #FFFFFF;
  border-radius: 8px;
  background-image: url("../../img/TelegramLogo.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  display: inline-block;
  width: 230px;
  margin-bottom: 40px;
}

.end__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.end__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 34px;
}

.Имя {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 15px;
  width: 306px;
}

.Имя + .Имя {
  margin-left: 24px;
  margin-bottom: 16px;
}

.area {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.ckeck {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
  width: 178px;
  padding-left: 30px;
  background-image: url("../../img/check-lg.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  margin-right: auto;
}

.checked:checked + .ckeck {
  background-image: url("../../img/ptichka.jpg");
  background-repeat: no-repeat;
}

.submit {
  padding: 13px 53px;
  color: #EC7973;
  display: inline-block;
  background: #FFF4F3;
  border-radius: 8px;
  border: transparent;
  max-width: 172px;
}

.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
  background-color: #69120E;
}

.footer__bottom-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.4;
}

@media screen and (max-width: 1000px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__bottom-text {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 970px) {
  .end__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .end {
    display: inline-block;
    max-width: 400px;
  }
  .Имя + .Имя {
    margin-left: 0;
    margin-top: 10px;
  }
  .form__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .submit {
    margin-top: 10px;
  }
}
@media screen and (max-width: 750px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */